@using System.ComponentModel
@using NedunyaAntiquesWebApp.Models
@model IEnumerable<NedunyaAntiquesWebApp.Models.Product>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<link type="text/css" media="all" href="~/Content/ourstyle.css">
<script type="text/javascript" src="~/Scripts/global.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

@{
    ViewBag.Title = "ShowByCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Shop headline-->
<div class="breadcumb_area bg-img" style="background-image: url(../../img/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <br /><br />
                    <h4>חנות</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="shop_grid_area section-padding-80 text-right">
    <!--Shop page itself-->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">

                <div class="widget catagories-menu">
                    <!--widget title-->
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        @Html.Label("כלי מטבח", htmlAttributes: new { @class = "showList", choice = "kitchenware", subchoice = "null" })
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <p> @Html.Label("כלי קיבול", htmlAttributes: new { @class = "showList", choice = "null", subchoice = "volume" })</p>
                                    <p> @Html.Label("כלי איחסון ", htmlAttributes: new { @class = "showList", choice = "null", subchoice = "storage" })</p>
                                    <p> @Html.Label("כלי הגשה ", htmlAttributes: new { @class = "showList", choice = "null", subchoice = "serving" })</p>
                                    <p> @Html.Label("תבניות", htmlAttributes: new { @class = "showList", choice = "null", subchoice = "pans" })</p>
                                    <p> @Html.Label("כלי עבודה ", htmlAttributes: new { @class = "showList", choice = "null", subchoice = "tools" })</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        @Html.Label("דקורציות", htmlAttributes: new { @class = "showList", choice = "decorations" ,subchoice="null" })
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <p> @Html.Label("אגרטלים", htmlAttributes: new { @class = "showList", choice = "null", subchoice = "vases" })</p>
                                    <p> @Html.Label("כלי איחסון", htmlAttributes: new { @class = "showList", choice = "null", subchoice = "boxes" })</p>
                                    <p> @Html.Label("פמוטים", htmlAttributes: new { @class = "showList", choice = "null",subchoice = "candlesticks" })</p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            @Html.Label("ריהוט", htmlAttributes: new { @class = "showList", choice = "furniture", subchoice = "null" })
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        <p> @Html.Label("ארונות", htmlAttributes: new { @class = "showList", choice = "null", subchoice = "cupboards" })</p>
                                        <p> @Html.Label("ויטרינות", htmlAttributes: new { @class = "showList", choice = "null", subchoice = "display" })</p>
                                        <p> @Html.Label("מדפים", htmlAttributes: new { @class = "showList", choice = "null", subchoice = "shelfs" })</p>
                                        <p> @Html.Label("מתלים", htmlAttributes: new { @class = "showList", choice = "null", subchoice = "hangers" })</p>
                                        <p> @Html.Label("שולחנות", htmlAttributes: new { @class = "showList", choice = "null", subchoice = "tables" })</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop_grid_product_area">
                    <div class="row">
                        <div id="product_list_container">

                        </div>
                        <script>
                              $('.showList').click(function (e) {
                                  var category = this.getAttribute("choice");
                                   var subcategory = this.getAttribute("subchoice");
                              $.ajax({
                                         type: "GET",
                                         url: "/Products/_ProductList",
                                         data: { Category: category, SubCategory: subcategory},
                                        success: function (data) {
                                        $("#product_list_container").html(data);
                                      },
                                        error: function () {
                                        alert("Something went wrong in controller");
                                        }                   


                                });

                              });

                        </script>




                    </div>
                </div>
            </div>
        </div>
    </div>
</section>