@using System.ComponentModel
<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title  -->
    <title>"נדוניה" עתיקות</title>

    <!-- Favicon  -->
    <link rel="icon" href="~/img/core-img/icon.ico">


    <!-- All of our CSS -->
    @Styles.Render("~/bundles/bundleour-css")

    <!-- All of our JavaScripts + defer attribute -->
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/bundleOur-jqueryval")
</head>

<body>

    <!--FaceBook like btn script-->
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/he_IL/sdk.js#xfbml=1&version=v3.1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!--And of FaceBook like btn script-->

    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Logo -->
                <!--should be Html.ActionLink but theres a problem with image path-->
                <a class="navbar-brand" href='@Url.Action("Index", "Home")'><img class="brand" src="~/img/core-img/logo.png" alt=""></a>

                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav titles" style="margin-right:1px">
                        <ul>
                            <li>
                                <span>@Html.ActionLink("חנות", "Index", "Products", null, null)</span>
                                <div class="megamenu">
                                    <ul class="single-mega cn-col-4">
                                        <li>@Html.ActionLink("ריהוט", "ShowCategory", "Products", null, null, "collapseThree", new { category = "furniture", subcategory = "null" }, new { @class = "title" })</li>
                                        <li>@Html.ActionLink("ארונות", "ShowCategory", "Products", null, null, "collapseThree", new { category = "null", subcategory = "cupboards" }, new { @class = "title" })</li>
                                        <li>@Html.ActionLink("ויטרינות", "ShowCategory", "Products", null, null, "collapseThree", new { category = "null", subcategory = "display" }, new { @class = "title" })</li>
                                        <li>@Html.ActionLink("מדפים", "ShowCategory", "Products", null, null, "collapseThree", new { category = "null", subcategory = "shelfs" }, new { @class = "title" })</li>
                                        <li>@Html.ActionLink("מתלים", "ShowCategory", "Products", null, null, "collapseThree", new { category = "null", subcategory = "hangers" }, new { @class = "title" })</li>
                                        <li>@Html.ActionLink("שולחנות", "ShowCategory", "Products", null, null, "collapseThree", new { category = "null", subcategory = "tables" }, new { @class = "title" })</li>
                                    </ul>
                                    <ul class="single-mega cn-col-4">
                                        <li>@Html.ActionLink("כלי מטבח", "ShowCategory", "Products", null, null, "collapseOne", new { category = "kitchenware", subcategory = "null" }, new { @class = "title" })</li>
                                        <li>@Html.ActionLink("כלי קיבול", "ShowCategory", "Products", null, null, "collapseOne", new { category = "null", subcategory = "volume" }, new { @class = "title" })</li>
                                        <li>@Html.ActionLink("כלי איחסון", "ShowCategory", "Products", null, null, "collapseOne", new { category = "null", subcategory = "storage" }, new { @class = "title" })</li>
                                        <li>@Html.ActionLink("כלי הגשה", "ShowCategory", "Products", null, null, "collapseOne", new { category = "null", subcategory = "serving" }, new { @class = "title" })</li>
                                        <li>@Html.ActionLink("תבניות", "ShowCategory", "Products", null, null, "collapseOne", new { category = "null", subcategory = "pans" }, new { @class = "title" })</li>
                                        <li>@Html.ActionLink("כלי עבודה", "ShowCategory", "Products", null, null, "collapseOne", new { category = "null", subcategory = "tools" }, new { @class = "title" })</li>
                                    </ul>
                                    <ul class="single-mega cn-col-4">
                                        <li>@Html.ActionLink("דקורציה", "ShowCategory", "Products", null, null, "collapseTwo", new { category = "decorations", subcategory = "null" }, new { @class = "title" })</li>
                                        <li>@Html.ActionLink("אגרטלים", "ShowCategory", "Products", null, null, "collapseTwo", new { category = "null", subcategory = "vases" }, new { @class = "title" })</li>
                                        <li>@Html.ActionLink("כלי איחסון", "ShowCategory", "Products", null, null, "collapseTwo", new { category = "null", subcategory = "boxes" }, new { @class = "title" })</li>
                                        <li>@Html.ActionLink("פמוטים", "ShowCategory", "Products", null, null, "collapseTwo", new { category = "null", subcategory = "candlesticks" }, new { @class = "title" })</li>

                                    </ul>
                                    <div class="single-mega cn-col-4">
                                        <img src="~/img/bg-img/bg-6.jpg" alt="">
                                    </div>
                                </div>
                            </li>
                            <li>@Html.ActionLink("אודות", "About", "Home")</li>
                            <li>@Html.ActionLink("צור קשר", "Contact", "Home")</li>
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>

            <!-- Header Meta Data -->
            <!--this is the problem with the css rendering-->
            <object class=" search-header">
                <div class="header-meta d-flex clearfix justify-content-end">
                    <!--FaceBook share and like btn-->
                    <div class="fb-like" data-href="https://he-il.facebook.com/Nedunya/" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

                    <!--End of FaceBook share and like btn-->
                    <!-- Cart Area -->
                    <div class="cart-area">
                        <a href="#" id="essenceCartBtn"><img src="/img/core-img/bag.svg" alt=""></a>
                    </div>

                    <!-- Search Area -->
                    <div class="serach">
                        <div class="search-area">
                            <form action="~/Products/Index" method="post">
                                <input type="search" name="free" id="headerSearch" placeholder="חיפוש באתר">
                                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
            </object>

            <!-- Register and log in area -->
            <div class="guest-area">
                <div>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>

    </header>
    <!-- ##### Right Side Cart Area ##### -->
    <div class="cart-bg-overlay"></div>

    <div class="right-side-cart-area">

        <!-- Cart Button -->
        <div class="cart-button">
            <a href="@Url.Action("Index", "ShoppingCart")" id="rightSideCart"><img src="/img/core-img/bag.svg" alt=""></a>
        </div>

        <div class="cart-content d-flex">

            <!-- Cart List Area -->
            <div class="cart-list text-right">
                <!-- Single Cart Item -->
                <div class="single-cart-item">
                    <a href="#" class="product-image">
                        <img src="../img/product-img/כד מים צרפתי,תחילת המאה ה-20 תמונה ראשונה.jpeg" class="cart-thumb" alt="">
                        <!-- Cart Item Desc -->
                        <div class="cart-item-desc">
                            <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                            <span class="badge">כד מים</span>
                            <h6>כד מים צרפתי</h6>
                            <p class="size">גודל: גדול</p>
                            <p class="color">צבע: לבן</p>
                            <p class="price">ש"ח 120</p>
                        </div>
                    </a>
                </div>

                <!-- Single Cart Item -->
                <div class="single-cart-item">
                    <a href="#" class="product-image">
                        <img src="img/product-img/כד מים קטן מעוטר צרפת, סוף המאה ה-19 תמונה ראשונה.jpeg" class="cart-thumb" alt="">
                        <!-- Cart Item Desc -->
                        <div class="cart-item-desc">
                            <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                            <span class="badge">כד מים</span>
                            <h6>כד מים קטן מעוטר צרפת</h6>
                            <p class="size">גודל: קטן</p>
                            <p class="color">צבע: חום</p>
                            <p class="price">80 ש"ח</p>
                        </div>
                    </a>
                </div>

            </div>

            <!-- Cart Summary -->
            <div class="cart-amount-summary">

                <h2 class="text-right">סיכום</h2>
                <ul class="summary-table">
                    <li><span>סכום כולל:</span> <span>200 ש"ח</span></li>
                    <li><span>משלוח:</span> <span>חינם</span></li>
                    <li><span>הנחה:</span> <span>-10%</span></li>
                    <li><span>סה"כ:</span> <span>180 ש"ח</span></li>
                </ul>
                <div class="checkout-btn mt-100">
                    <a href="*" class="btn essence-btn">מעבר לתשלום</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Right Side Cart End ##### -->

    @RenderBody()


    <!-- ##### Bottom Area Start ##### -->
    <div class="OurBottomArea">
        <div class="responsive container">
            <div>
                <p class="ourrightstext">כל הזכויות שמורות © נדוניה עתיקות @DateTime.Now.Year</p>
            </div>
        </div>
    </div>
    <!-- ##### Bottom Area End ##### -->


</body>


</html>
