@model NedunyaAntiquesWebApp.Models.Customer
@{
    ViewBag.Title = "ChangePasswordForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm("ChangePassword","Customers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "שינוי הסיסמא נכשל, אנא נסה/י שנית!")
<div class="container h-100" style="margin-top:100px;">
    <div class="row h-100 align-items-center">
        <div class="col-12">
            <div class="hero-content text-right">
                <h2>שינוי סיסמא</h2>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    <p>  @Html.EditorFor(m => m.Email, new { @placeholder = "Email Address *", @type = "email" }) </p>
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
               

                <div class="editor-label">
                    @Html.LabelFor(m => m.PasswordHash)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.PasswordHash, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PasswordHash)
                </div>

               
                <br />
                <div class="form-group">
                    <button type="submit" value="ChangePassword" class="btn btn-success">אישור החלפת סיסמא</button>
                </div>
            </div>
        </div>
    </div>
</div>
}

