@model NedunyaAntiquesWebApp.Models.Customer
@{
    ViewBag.Title = "CustomerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>לקוח חדש</h2>

@using (Html.BeginForm("Save", "Customers"))
{   @Html.AntiForgeryToken()

<div class="container h-100" style="margin-top:100px;">
    <div class="row h-100 align-items-center">
        <div class="col-12">
            <div class="hero-content text-right">
                <div class="register">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Username)
                        <p> @Html.EditorFor(m => m.Username, new { @class = "form-control" })</p>
                        @Html.ValidationMessageFor(m => m.Username)
                    </div>
                    <div>
                        <td>סיסמא</td>
                        <p>@Html.PasswordFor(m => m.Password)</p>
                           @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })
                    </div>
                    <div>
                        <td>אישור סיסמא</td>
                        <p>@Html.PasswordFor(m => m.ConfirmPassword)</p>
                           @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "error" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FisrtName)
                        <p> @Html.EditorFor(m => m.FisrtName, new { @class = "form-control" })</p>
                        @Html.ValidationMessageFor(m => m.FisrtName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName)
                        <p>@Html.EditorFor(m => m.LastName, new { @class = "form-control" }) </p>
                        @Html.ValidationMessageFor(m => m.LastName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.CityAddress)
                        <p>@Html.EditorFor(m => m.CityAddress, new { @class = "form-control" }) </p>
                        @Html.ValidationMessageFor(m => m.CityAddress)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.StreetAddress)
                        <p>  @Html.EditorFor(m => m.StreetAddress, new { @class = "form-control" }) </p>
                        @Html.ValidationMessageFor(m => m.StreetAddress)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.HomeNum)
                        <p> @Html.EditorFor(m => m.HomeNum, new { @class = "form-control" }) </p>
                        @Html.ValidationMessageFor(m => m.HomeNum)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AptNum)
                        <p> @Html.EditorFor(m => m.AptNum, new { @class = "form-control" }) </p>
                        @Html.ValidationMessageFor(m => m.AptNum)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Birthdate)
                        <p> @Html.EditorFor(m => m.Birthdate, "{0:d MMM yyy}", new { @class = "form-control" }) </p>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        <p>  @Html.EditorFor(m => m.Email, new { @placeholder = "Email Address *", @type = "email" }) </p>
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PhoneNum)
                        <p> @Html.EditorFor(m => m.PhoneNum, new { @class = "form-control" }) </p>
                        @Html.ValidationMessageFor(m => m.PhoneNum)
                    </div>

                    <div class="form-check">
                        <label>
                            @Html.CheckBoxFor(m => m.AdvertiseSalesNotification)  האם הינך מעוניין/ת שנעדכן אותך על מבצעים?
                        </label>
                    </div>
                    @Html.HiddenFor(m => m.Id)
                    <button type="submit" class="btn btn-primary">הבא</button>
                </div>
            </div>
               </div>
           </div>
    </div>
       }

