@model NedunyaAntiquesWebApp.Models.Customer
@{
    ViewBag.Title = "CustomerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.js"></script>
    

@using (Html.BeginForm("SaveClient", "Customers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container h-100" style="margin-top:100px;">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content text-right">
                    <h2>לקוח חדש</h2>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        <p>  @Html.EditorFor(m => m.Email, new { @placeholder = "Email Address *", @type = "email" }) </p>
                        
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName)
                        <p> @Html.EditorFor(m => m.FirstName, new { @class = "form-control" })</p>
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName)
                        <p>@Html.EditorFor(m => m.LastName, new { @class = "form-control" }) </p>
                        @Html.ValidationMessageFor(m => m.LastName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PasswordHash)
                        <p> @Html.EditorFor(m => m.PasswordHash, new { @class = "form-control" })</p>
                        
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(m => m.CityAddress)
                        <p>@Html.EditorFor(m => m.CityAddress, new { @class = "form-control" }) </p>
                        @Html.ValidationMessageFor(m => m.CityAddress)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.StreetAddress)
                        <p>  @Html.EditorFor(m => m.StreetAddress, new { @class = "form-control" }) </p>
                        @Html.ValidationMessageFor(m => m.StreetAddress)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.HomeNum)
                        <p> @Html.EditorFor(m => m.HomeNum, new { @class = "form-control" }) </p>
                        @Html.ValidationMessageFor(m => m.HomeNum)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AptNum)
                        <p> @Html.EditorFor(m => m.AptNum, new { @class = "form-control" }) </p>
                        @Html.ValidationMessageFor(m => m.AptNum)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Birthdate)
                        <p> @Html.EditorFor(m => m.Birthdate, "{0:d MMM yyy}", new { @class = "form-control" }) </p>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.PhoneNum)
                        <p> @Html.EditorFor(m => m.PhoneNum, new { @class = "form-control", type = "phone" }) </p>
                        @Html.ValidationMessageFor(model => model.PhoneNum)
                    </div>

                    <script type="text/javascript">
                        $('.phone').mask('999-999-9999');
                    </script>
                    <div class="form-check">
                        <label>
                            @Html.CheckBoxFor(m => m.AdvertiseSalesNotification)  האם הינך מעוניין/ת שנעדכן אותך על מבצעים?
                        </label>

                    </div>

                    <div class="form-group">
                        <button type="submit" value="SaveClient" class="btn btn-success">צור משתמש</button>
                    </div>
                </div>

            </div>
        </div>
        @if (@ViewBag.Message != null)
        {
            <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message")
            });
            </script>
        }
    </div>
}

