@model NedunyaAntiquesWebApp.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Customerlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("LogIn", "Customers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container h-100" style="margin-top:100px;">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content text-right">
                    <h2>התחברות</h2>

                    <div class="form-group centerlook">

                        @Html.LabelFor(m => m.EmailLog)
                        <p>  @Html.EditorFor(m => m.EmailLog, new { @placeholder = "Email Address *", @type = "email" })* </p>
                        @Html.ValidationMessageFor(m => m.EmailLog)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserLog)
                        <p>  @Html.EditorFor(m => m.UserLog, new { @class = "form-control" }) </p>

                    </div>
                    <div class="form-group centerlook">
                        <label>סיסמא </label>
                        <p>@Html.PasswordFor(m => m.PasswordLog)*</p>
                        @Html.ValidationMessageFor(m => m.PasswordLog, "", new { @class = "error" })

                    </div>
                    <div class="form-check">
                        <label>
                            @Html.CheckBoxFor(m => m.RemamberLog)  זכור אותי
                        </label>

                    </div>

                    <div class="form-group">
                        <button type="submit" value="LogIn" class="btn btn-success">התחבר</button>
                    </div>
                </div>
            </div>
        </div>
        @if (@ViewBag.Message != null)
        {
            <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message")
            });
            </script>
        }
    </div>

}

