@model NedunyaAntiquesWebApp.Models.Customer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{

<div class="container h-100" style="margin-top:100px;">
    <div class="row h-100 align-items-center">
        <div class="col-12">
            <div class="hero-content text-right">
                <h2>לקוח חדש</h2>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    <p>  @Html.EditorFor(m => m.Email, new { @placeholder = "Email Address *", @type = "email" }) </p>

                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName)
                    <p>  @Html.EditorFor(m => m.UserName, new { @class = "form-control" }) </p>

                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName)
                    <p> @Html.EditorFor(m => m.FirstName, new { @class = "form-control" })</p>
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.LastName)
                    <p>@Html.EditorFor(m => m.LastName, new { @class = "form-control" }) </p>
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PasswordHash)
                    <p> @Html.EditorFor(m => m.PasswordHash, new { @class = "form-control" })</p>

                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.CityAddress)
                    <p>@Html.EditorFor(m => m.CityAddress, new { @class = "form-control" }) </p>
                    @Html.ValidationMessageFor(m => m.CityAddress)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.StreetAddress)
                    <p>  @Html.EditorFor(m => m.StreetAddress, new { @class = "form-control" }) </p>
                    @Html.ValidationMessageFor(m => m.StreetAddress)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.HomeNum)
                    <p> @Html.EditorFor(m => m.HomeNum, new { @class = "form-control" }) </p>
                    @Html.ValidationMessageFor(m => m.HomeNum)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.AptNum)
                    <p> @Html.EditorFor(m => m.AptNum, new { @class = "form-control" }) </p>
                    @Html.ValidationMessageFor(m => m.AptNum)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Birthdate)
                    <p> @Html.EditorFor(m => m.Birthdate, "{0:d MMM yyy}", new { @class = "form-control" }) </p>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.PhoneNum)
                    <p> @Html.EditorFor(m => m.PhoneNum, new { @class = "form-control", type = "phone" }) </p>
                    @Html.ValidationMessageFor(model => model.PhoneNum)
                </div>

              
                <div class="form-check">
                    <label>
                        @Html.CheckBoxFor(m => m.AdvertiseSalesNotification)  האם הינך מעוניין/ת שנעדכן אותך על מבצעים?
                    </label>

                </div>

                <div class="form-group">
                    <button type="submit" value="Edit" class="btn btn-success">עדכן משתמש</button>
                </div>
            </div>

        </div>
    </div>
</div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>


