@model List<NedunyaAntiquesWebApp.Models.Product>
@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript" src="~/Scripts/global.js"></script>
<section class="welcome_area bg-img background-overlay" style="background-image: url(../img/bg-img/bg-100.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content text-right" style="margin-top:230px;">
                    <input type="button" class="btn essence-btn" value="למעבר לחנות לחצו כאן!" onclick="location.href='@Url.Action("ShowCategory", "Products")'" />
                    <!--   <a href="#" class="btn essence-btn">לכל המבצעים לחצו כאן!</a>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Top Catagory Area Start ##### -->
<div class="top_catagory_area section-padding-80 clearfix">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Single Catagory -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(/img/bg-img/nd-4.jpeg);">
                    <div class="catagory-content">
                        <!-- <a href="#">ריהוט</a> -->
                        @Html.ActionLink("ריהוט", "ShowCategory", "Products", null, null, "collapseThree", new { category = "ריהוט", subcategory = "null" }, new { @class = "title" })
                    </div>
                </div>
            </div>
            <!-- Single Catagory -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(/img/bg-img/nd-5.jpeg);">
                    <div class="catagory-content">
                        <!-- <a href="#">כלי מטבח</a>-->
                        @Html.ActionLink("כלי מטבח", "ShowCategory", "Products", null, null, "collapseOne", new { category = "כלי מטבח", subcategory = "null" }, new { @class = "title" })
                    </div>
                </div>
            </div>
            <!-- Single Catagory -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(/img/bg-img/nd-6.jpeg);">
                    <div class="catagory-content">
                        <!--   <a href="#">דקורציות</a>-->
                        @Html.ActionLink("דקורציות", "ShowCategory", "Products", null, null, "collapseTwo", new { category = "דקורציות", subcategory = "null" }, new { @class = "title" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Top Catagory Area End ##### -->
<!-- ##### New Arrivals Area Start ##### -->
<section class="new_arrivals_area section-padding-80 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>פריטים יחודיים</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="popular-products-slides owl-carousel text-right">
                    @foreach (var item in Model)
                    {
                        <!-- Single Product -->
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="~/Images/Thumbs/@item.Images.ElementAt(1).Name" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" src="~/Images/Thumbs/@item.Images.ElementAt(0).Name">
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <span>@item.Name</span>
                                <a href="single-product-details.html">
                                    <h6>@item.Description</h6>
                                </a>
                                <p class="product-price">@item.Price</p>

                                <!-- Hover Content -->
                                <div class="hover-content">
                                    <!-- Add to Cart -->
                                    <div>
                                        @Html.ActionLink("הוסף לסל", "AddToCart", "ShoppingCart", new { id = item.ProductId }, new { @class = "btn btn-info" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### New Arrivals Area End ##### -->