@model NedunyaAntiquesWebApp.ViewModels.TransactionViewModel
@{
    ViewBag.Title = "AddressAndPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-right">
    <span>עגלת הקניות שלך</span>
</h3>


@if (Model.amount == 0)
{
    <a class="btn btn-danger text-right middle-block" href='@Url.Action("Shop", "Home")'>העגלה שלך ריקה, המשך לקנות</a>
}
else
{
    <table class="table-responsive table-bordered table-striped">
        <tr class="text-right">
            <th>
                שם מוצר
            </th>

            <th>
                מחיר
            </th>
        </tr>
        @foreach (var item in Model.CartItems)
        {
        <tr id="row-@item.ProductId">
            <td>
                @Html.ActionLink(item.Name, "Details", "Products", new { id = item.ProductId }, null);
            </td>
            <td>
                @item.Price
            </td>
        </tr>
        }
        <tr class="text-right">
            <td>
                סה"כ
            </td>
            <td id="cart-total" class="text-right">
                <b>@Model.amount.ToString()</b>
            </td>
        </tr>
    </table>

    <p class="button">
        <a class="btn btn-danger" href='@Url.Action("failed", "Transactions")'>המשך לקנות</a>
    </p>

    <!--Paypal button-->
    <div class="button">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_xclick">
            <input type="hidden" name="business" value="GM6WXRBR89V4N">
            <input type="hidden" name="lc" value="IL">
            <input type="hidden" name="button_subtype" value="services">
            <input type="hidden" name="no_note" value="0">
            <input type="hidden" name="no_shipping" value="2">
            <input type="hidden" name="rm" value="1">
            <label>Your Price: @Model.amount.ToString()</label>
            <input type="hidden" name="amount" value="@Model.amount.ToString()">
            <input type="hidden" name="return" value="https://www.NedunyaAntiques.co.il/Transaction/failed">
            <input type="hidden" name="cancel_return" value="https://www.NedunyaAntiques.co.il/Transaction/Complete/‏">
            <input type="hidden" name="currency_code" value="ILS">
            <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
            <input type="image" src="https://www.paypalobjects.com/he_IL/IL/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - הדרך הקלה והבטוחה יותר לשלם באינטרנט!">
            <img alt="" border="0" src="https://www.paypalobjects.com/he_IL/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
}



